@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
.zns_calendar{ width:210px; border:1px solid #ccc; padding:3px; position:absolute; display:none;}
.zns_calendar h3{ width:100%; height:30px; text-align:center; line-height:30px;}
.zns_calendar ol{ overflow:hidden; border-bottom:1px solid #ccc;}
.zns_calendar ol li{ width:30px; height:30px; float:left; text-align:center; line-height:30px;}
.zns_calendar ul{ overflow:hidden;}
.zns_calendar ul li{ width:30px; height:30px; line-height:30px; text-align:center; float:left;}

.week{ color:red;}
.past{ color:gray;}
.today{ background:#f60; color:#fff;}

.left{ position:absolute; left:0; top:0;}
.right{ position:absolute; right:0; top:0;}
